.form_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_item {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.form_item input[type="text"]:focus {
  border: 3px solid #1e90ff;;
}